<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:15px; padding:50px;">
    <header>
    <h1>Tiny App Project</h1>
    </header>
      <hr width="600px" align="left">
      <form action="/login" method="POST">
        <label for="username">Enter Username</label>
        <input id="username" type="text" name="username" placeholder="Enter Username" style="width: 300px">
        <button> Submit </button> <br>
        <i>You are currently logged in as: <%= username %></i>
      </form>
  </body>
</html>



