<!DOCTYPE html>
<html lang="en">

<head>
  <title>TINYapp</title>
  <style>
   @import url('https://fonts.googleapis.com/css?family=Anton|Quicksand');

    header {
      background-color:#ECF3F3;
      padding: 10px;
      font-family: 'Anton', sans-serif;
    }

    body {
      font-family: 'Quicksand', sans-serif;
      font-size: 15px;
      padding: 50px;
    }

    h1 {
      font-size: 40px;
    }

    hr {
      width: 100%;
    }
  </style>
</head>

<body>
  <header bkd>
    <h1>TINYapp</h1>
  </header>
  <hr align="left">

    <!-- User logged In -->
  <% if (userObj) { %>
  <div style="display:inline-block; vertical-align: middle;">
    <form action ="/logout" method="POST">
      <b>You are currently logged in as: <%= userObj.email %></b>
      <button> Logout </button> <br>
   </form>
  </div>

  <% } else { %>
  <div style="display:inline-block; vertical-align: middle;">
    <button onclick="location.href='/register'">Register</button>
    <button onclick="location.href='/login'">Login</button>
  </div>
  <% }; %>
  <hr width="600px" align="left">
</body>

</html>