<!DOCTYPE html>
<html lang="en">
  <body style="font-size:15px; padding:50px;">
    <header>
    <h1>Tiny App Project - Login Page</h1>
    </header>
      <hr width="600px" align="left">
   <!-- Login Input Form -->
      <form action="/login" method="POST">

        <label for="email">Enter Email</label>
        <input id="email" type="text" name="email" placeholder="Enter Email" style="width: 300px"> <br>

        <label for="password">Enter Password</label>
        <input id="password" type="password" name="password" placeholder="Enter Password" style="width: 300px"><br>

        <button> Login </button> <br>
      </form>
  </body>
</html>



