<!DOCTYPE html>
<html lang="en">
<body style="font-size:15px; padding:50px;">
  <header>
    <h1>Tiny App Project</h1>
  </header>
  <div>
    <form action="/register" method="POST">
      <label for="email">Enter Email</label>
      <input id="email" type="text" name="email" placeholder="Enter Email" style="width: 300px"> <br>
      <label for="password">Enter Password</label>
      <input id="password" type="password" name="password" placeholder="Enter Password" style="width: 300px"><br>
      <button> Register </button> <br>
    </form>
  </div>
</body>
</html>
