<!DOCTYPE html>
<html lang="en">
<body>
  <% include partials/_header %>
  <h1>ShortURL: <%= shortURL %> </h1>
  <form action="/urls/<%= shortURL %>" method="POST">
    <label for="newlongURL">Update URL:</label>
    <input id="newlongURL" type="text" name="newURL" placeholder=" <%= longURL %>" style="width: 300px">
    <input type="submit" value="Submit">
  </ul>
</body>
</html>